<%= simple_form_for @song do |f| %>
  <%= f.input :syllables_per_line, label: "Syllables per line"%>
  <%= f.input :lines_per_stanza, label: "Lines per stanza" %>
  <%= f.button :submit, 'Submit', class: "btn btn-primary" %>
<% end %>

<div class="d-box" id="word-options" title="Options">
  <p class="word"></p>
  <p class="word-id"></p>
  <p class="line-index"></p>
  <p class="line-id"></p>
  <p class="tool-belt" id="synonyms">Synonyms</p>
  <p class="tool-belt" id="rhyme-with">Rhyme-with</p>
  <p class="tool-belt" id="replace-with">Replace</p>
</div>

<div class="d-box" id="synonym-box" title="Synonyms">
  <p class="word"></p>
  <ul class="synonyms"></ul>
</div>

<div class="d-box" id="rhyme-box" title="Rhymes">
  <p class="word"></p>
  <ul class="rhymes"></ul>
</div>

<div class="d-box" id="replace" title="Replace">
  <p class="word"></p>
  <%= simple_form_for @song.lines.first do |f| %>
    <%= f.input :words, label: false, placeholder: false%>
    <%= f.button :submit, 'Replace!', class: "btn btn-primary" %>
  <% end %>
</div>
