<h1 id="pooop"></h1>
<div class="row">
    <div class="span6 pull-left" id="options-original-text">
      <p><%= @song.original_text %></p>
      <%= render "options_form" %>
    </div>
    <div class="span6 pull-right poem">
          <% @song.stanzas.each_with_index do |stanza, index| %>
        <table class="table">
            <% stanza.lines.order("id ASC").each_with_index do |line, index| %>
            <tr id=<%="#{line.id}"%>>
              <td class="line menu" id="something-<%=index%>">
                <% line.linewords.order("id ASC").each do |lineword| %>
                  <span id=<%="#{lineword.word_id}"%>><%= lineword.word.to_s %></span>
                <% end %>
                <p class="line-syllables"><%= line.syllables %></p>
              </td>
            </tr>
            <% end %>
        </table>
            <br/>
            <br/>
          <% end %>
    </div>
  </div>
  </div>
</div>
