<div class="row">
    <div class="span6">
      <p><%= @song.original_text %></p>
      <%= render "options_form" %>
    </div>
    <div class="span6">
        <table class="table">
          <% @song.lyrics.each_with_index do |line, index| %>
            <tr>
              <td><%="#{index + 1})"%></td>
              <td><%="#{line}" %></td>
              <td><%="#{@song.syllable_count(line.join(' '))}" %></td>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
  </div>
</div>
