<!DOCTYPE html>
<html>
<head>
  <title>PoemEngine</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- , :media => "all"  cut out of stylesheet_link_tag, after "application"-->

  <script type="text/javascript">
    $(function(){
      $('.slide-out-div').tabSlideOut({
        tabHandle: '.handle',                     //class of the element that will become your tab
        pathToTabImage: '<%= asset_path 'original_text_tab.png' %>', //path to the image for the tab //Optionally can be set using css
        imageHeight: '300px',                     //height of tab image           //Optionally can be set using css
        imageWidth: '100px',                       //width of tab image            //Optionally can be set using css
        tabLocation: 'left',                      //side of screen where tab lives, top, right, bottom, or left
        speed: 300,                               //speed of animation
        action: 'click',                          //options: 'click' or 'hover', action to trigger animation
        topPos: '100px',                          //position from the top/ use if tabLocation is left or right
        leftPos: '20px',                          //position from left/ use if tabLocation is bottom or top
        fixedPosition: true                      //options: true makes it stick(fixed position) on scroll
        });
      });
    $(function(){
      $('.slide-out-div-two').tabSlideOut({
        tabHandle: '.handle-two',                     //class of the element that will become your tab
        pathToTabImage: '<%= asset_path 'options_tab.png' %>', //path to the image for the tab //Optionally can be set using css
        imageHeight: '300px',                     //height of tab image           //Optionally can be set using css
        imageWidth: '100px',                       //width of tab image            //Optionally can be set using css
        tabLocation: 'left',                      //side of screen where tab lives, top, right, bottom, or left
        speed: 300,                               //speed of animation
        action: 'click',                          //options: 'click' or 'hover', action to trigger animation
        topPos: '400px',                          //position from the top/ use if tabLocation is left or right
        leftPos: '20px',                          //position from left/ use if tabLocation is bottom or top
        fixedPosition: true                      //options: true makes it stick(fixed position) on scroll
        });
      });
  </script>







</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">PoemEngine</a>
        <div class="nav-collapse">
        </div>
      </div>
    </div>
  </div>
<%= render 'layouts/messages' %>
<%= yield %>

  <div class="navbar navbar-static-bottom" id="margin-override">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse">
          <div class="bottom-bar">
            <div class="row">
              <div class="span12 text-left">
                  Rhyming service provided by: <%= link_to "RhymeBrain", "http://www.rhymebrain.com" %>
                  <br/>
                  Thesaurus service provided by: <%= link_to "words.bighugelabs.com", "http://words.bighugelabs.com" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
